body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.blue-container{
    width: 65vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7eacf6;
    box-shadow: 10px 5px 5px #bdb5b5;
}

.tw-box{
    width: 35vw;
    height: 40vh;
    border: 2px solid #bebbbb;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tw-title{
    width: 35vw;
    height: 8vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    padding-left: 6%;
}

.tw-form{
    width: 35vw;
    height: 28vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name-area, .email-area, .pass-area{
    width: 90%;
    padding: 2%;
    margin-left: 5px ;
    margin-bottom: 5px;
    border: 2px solid rgba(185, 183, 183, 0.71);
}

.tw-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 33.5vw;
}

.button-area{
    width: 50%;
    padding: 2%;
    border: 2px solid #eaca21;
    border-radius: 3px;
    font-size: 15px;
    font-family: 'Dancing Script', sans-serif;
    font-weight: bold;
}