body{
    margin: 0;
}

.box-A{
    height: 35vh;
    width: 100vw;
    background-color: #716B6B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Boxes{
    display: flex;
}

.box-B{
    height: 65vh;
    width: 70vw;
    background-color: #942a2a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-C{
    height: 65vh;
    width: 30vw;
    background-color: #31139d;
    display: flex;
    justify-content: center;
    align-items: center;
}